.shopping.cart.icon > .product-counter {
  display: block;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 10px;
  position: relative;
  bottom: 27px;
  left: 17px;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.cart-container {
  position: absolute;
  top: 25px;
  right: 20px;
  border: none;
}

.large.white.shopping.cart.icon {
  color: white;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .cart-container {
    top: 22px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .cart-container {
    top: 23px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .cart-container {
    top: 24px;
  }
}

@media only screen and (min-width: 1201px) {
  .cart-container {
    top: 25px;
  }
}
