.shopping.cart.icon > .product-counter {
  display: block;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 10px;
  position: relative;
  bottom: 27px;
  left: 17px;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.cart-container {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
}

.large.white.shopping.cart.icon {
  color: white;
}
