.main-product-page-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: flex-start;
  gap: 10px;
  padding: 3% 5%;
}

.product-container {
  position: relative;
}
.add-button {
  background-color: black;
  border: none;
  color: white;
  font-family: inherit;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .product-container {
    width: 100%;
  }
}
