.main-product-page-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20px;
}

.ui.card.card-container > .image {
  background-color: inherit;
  height: 300px;
}

.ui.card.card-container > .content {
  display: flex;
  flex-direction: column;
  background-color: #c7b198;
  height: fit-content;
  color: black;
}

.ui.card.card-container > .image > img {
  height: 100%;
  object-fit: contain;
}

.add-button {
  background-color: black;
  border: none;
  color: white;
  font-family: inherit;
  width: 100%;
  padding: 10px;
}

.add-button:hover {
  opacity: 0.5;
}
