.main-product-page-container {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(1, 100%);
  gap: 30px;
  padding: 3% 5%;
}

.product-container {
  position: relative;
  width: fit-content;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .product-container {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-product-page-container {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-product-page-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-product-page-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (min-width: 1200px) {
  .main-product-page-container {
    grid-template-columns: repeat(4, auto);
  }
}
