.container {
  display: flex;
  padding-top: 70px;
}

.container > .image {
  height: 200px;
  width: 200px;
}

.container > .content {
  height: 200px;
  width: 200px;
}

.container > .image > img {
  height: 100%;
}

.container > .content {
  height: 100%;
}
