.ui.segment.container {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 20px;
}

.container > .image {
  height: 200px;
  width: 200px;
}

.container > .content {
  color: black;
  height: 200px;
  width: 200px;
}

.container > .image > img {
  height: 80%;
}

.container > .content {
  height: 100%;
}

.quantity-container > h4 > span > button {
  background-color: #4183c4;
  border: none;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}

.quantity-container > h4 > span {
  padding: 5px;
}

.total-price-container {
  margin: 20px;
}
