.hero {
  background-image: url("../../assets/fabio-bracht-e3oE-l-rtpA-unsplash.jpg");
  background-position: 10% 20%;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.trending-products-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 5%;
}

.trending-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.headers {
  position: absolute;
  top: 200px;
}

.headers > h2 {
  text-align: center;
  font-size: xx-large;
}

.headers > h1 {
  font-size: 30px;
  padding-left: 20px;
}

.ui.card {
  margin: 0;
}

.ui.card > .image {
  background-color: inherit;
  height: 300px;
}

.ui.card > .content {
  background-color: #f5f5f5;
  height: fit-content;
  color: black;
}

.ui.card > .image > img {
  height: 100%;
  object-fit: contain;
}

.products-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, auto);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .products-container {
    grid-template-columns: repeat(1, 100%);
  }

  .headers {
    top: 150px;
  }

  .headers > h2 {
    text-align: center;
    font-size: x-large;
  }

  .headers > h1 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(1, auto);
  }

  .headers {
    top: 120px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(2, auto);
  }

  .headers {
    top: 200px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .products-container {
    grid-template-columns: repeat(3, auto);
  }

  .headers {
    top: 200px;
  }
}
