.header-container {
  display: flex;
  height: 10%;
  background-color: #121212;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
  align-items: center;
}

.ui.secondary.pointing.menu {
  border: none;
}

.ui.secondary.pointing.menu > a {
  color: #fafafa;
}

.ui.menu {
  margin: 0;
}

.ui.secondary.pointing.menu > a.item:hover {
  color: #fec01d;
}
