.ui.card {
  box-shadow: none;
}

.ui.card.card-container {
  height: 100%;
}

.ui.card.card-container > .image {
  padding: 20px;
  background-color: inherit;
  width: 100%;
}

.ui.card.card-container > .content {
  display: flex;
  flex-direction: column;
  background-color: #dddddc;
  height: fit-content;
  color: black;
  padding-bottom: 50px;
}

.ui.card.card-container > .image > img {
  width: 100%;
  object-fit: contain;
}

.add-button {
  background-color: black;
  border: none;
  color: white;
  font-family: inherit;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.add-button:hover {
  background-color: #fec01d;
  color: black;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .ui.card.card-container {
    width: 100%;
  }
}
