.ui.card.card-container {
  height: 100%;
}

.ui.card.card-container > .image {
  background-color: inherit;
  height: 300px;
}

.ui.card.card-container > .content {
  display: flex;
  flex-direction: column;
  background-color: #c7b198;
  height: fit-content;
  color: black;
  padding-bottom: 50px;
}

.ui.card.card-container > .image > img {
  height: 100%;
  object-fit: contain;
}

.add-button:hover {
  opacity: 0.5;
}
